<div class="row">
  <div class="col-lg-12">
    <app-card>
      <form
        autocomplete="disabled"
        [formGroup]="departmentForm"
        (ngSubmit)="onFormSubmit()"
        novalidate >
        <div class="form-group">
          <label for="i_applicationName">
            Department 
          </label>
          <input type="hidden" formControlName="id" id="id" />
          <select class="form-control" [ngClass]="{'has-error' : submitted && departmentForm.controls.departmentId.errors?.required}" formControlName="departmentId">
            <option value="">Select Department </option>
            <option
              *ngFor="let c of config.department.list"
              [value]="c.departmentId">
              {{ c.departmentName }}
            </option>
          </select>
          <!-- <span *ngIf="submitted && departmentForm.controls.departmentId.errors?.required" class="messages text-danger">
            Please Select Department Name
          </span> -->
        </div>
        <div class="form-group">
          <label for="i_accountName">
            Application Account 
          </label>
          <select class="form-control" [ngClass]="{'has-error' : submitted && departmentForm.controls.applicationAccountId.errors?.required}" formControlName="applicationAccountId">
            <option value="">Select Application Account</option>
            <option *ngFor="let c of config.applicationAccount.list" [value]="c.id">
              {{c.applicationName +' - '+c.accountName }}
            </option>
          </select>
          <!-- <span *ngIf="submitted && departmentForm.controls.applicationAccountId.errors?.required" class="messages text-danger">
            Please Select Application Account Name
          </span> -->
        </div>

        <div class="form-group ">
          <label for="IsActive">Is Active</label>
          <div class="form-inline">
                       
            
            <label class="radio-inline"><input type="radio" [value]="true"formControlName="isActive" checked />&nbsp;
            Yes</label>
            <label class="radio-inline"><input type="radio" [value]="false" class="ml-2" formControlName="isActive" /> &nbsp;
          No</label>
          </div>
        </div>
        <div class="form-group">
          <div class="button-div">
            <button type="submit" class="btn btn-primary mr-2">Save</button>
            
            <button
              type="button"
              (click)="onCancelClick()"
              class="btn btn-secondary mr-2">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>
<ng2-toasty [position]="position"></ng2-toasty>