<div class="row">
    <div class="col-lg-12">
        <!-- Department edit card start -->
        <app-card [title]="'Create Power-Bi Department Manage'" [blockClass]="'table-border-style'">
            <form [formGroup]="departmentForm">
                <div class="form-group">
                    <label for="i_applicationName">
                       Application Name
                    </label>
                    <select name="select" class="form-control form-control-warning" formControlName="applicationName" id="i_applicationName">
                        <option>Select application</option>
                        <option value="opt2">Type 2</option>
                        <option value="opt3">Type 3</option>
                        <option value="opt4">Type 4</option>
                        <option value="opt5">Type 5</option>
                      </select>
                </div>
                <div class="form-group">
                    <label for="i_departmentName">
                       Department Name
                    </label>
                    <select name="select" class="form-control form-control-warning" formControlName="departmentName" id="i_departmentName">
                        <option>Select department</option>
                        <option value="opt2">Type 2</option>
                        <option value="opt3">Type 3</option>
                        <option value="opt4">Type 4</option>
                      </select>
                </div>
                <div class="form-group">
                    <label>
                        Is Active
                    </label>
                    <br>
                    <input type="radio" value="Yes" formControlName="isActive">
                    <span class="radio">Yes</span>
                    <input type="radio" value="No" formControlName="isActive">
                    <span class="radio">No</span>
                </div>
                <div class="form-group">
                    <div class="button-div">
                        <button type="button" class="btn btn-warning mr-2">Save</button>
                        <button type="button" class="btn btn-secondary mr-2">Cancel</button>
                    </div>
                </div>
            </form>
        </app-card>
    </div>
</div>