a{
    padding: 5px;
}

.lsearch{
    margin-left:22px;
}

.select-right{
    position: absolute;
    right: 22px;
}

.notactive{
    color:red;
}

th[sortable]{
    cursor: pointer;
}

@media(max-width: 360px) {
    .i-search{
        width:147px;
    }
}